/* Bubble.css */

.bar-container {
    display: flex;
    align-items: flex-end;
    height: 200px;
}

.bar {
    width: 20em;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: blue; /* Cor padrão */
}

.sorting {
    background-color: red; /* Cor da barra sendo ordenada */
}

.comparing {
    background-color: yellow; /* Cor da barra sendo comparada */
}

.swapping {
    background-color: green; /* Cor da barra sendo trocada */
}

.bar-number {
    color: white;
    position: absolute;
    bottom: 2px;
}

.bar-alinning {
    display: flex;
    justify-content: center;
    margin: 3em;
    gap: 2px
    
}
