.bar-container {
    display: flex;
    align-items: flex-end;
    height: 200px;
    padding-left: 1em;
    padding-right: 1em;
}

.bar {
    width: 20em;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #1976d2;
    border-radius: 5px 5px 0 0;
    font-weight: 550; 
}

.comparing {
    background-color: yellow; 
}

.swapping {
    background-color: green; 
}

.bar-number {
    position: absolute;
    bottom: 2px;
}

.bar-alinning {
    display: flex;
    justify-content: center;
    margin: 3em;
    gap: 1em;

}
